<center>
	<% if user_signed_in? %>
		<li><%= image_tag(current_user.photo) %></li>
		<li><%= current_user.name %></li>
		<li><%= current_user.email %></li>
		<li><%= current_user.industry %></li>
		<li><%= current_user.headline %></li>
		<li><%= current_user.location %></li>
		<li><%= current_user.description %></li>
		<li><%= current_user.urls %></li>
		<li><%= link_to("Salir", destroy_user_session_path, method: :delete) %></li>
	<% else %>
		<li> <%= link_to("Ingresar", new_user_session_path)%></li>
	<% end %>
</center>
